APP_NAME=Pluma
APP_TAGLINE="Elegant and modular, out-of-the-box"
APP_AUTHOR=
APP_YEAR=
APP_COPYRIGHT="{APP_NAME} &copy; Copyright {APP_YEAR_TO_CURRENT_YEAR} {APP_AUTHOR}. All rights reserved."
APP_ENV=development
APP_TIMEZONE="Asia/Manila"
APP_DEBUG=false
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

LOG_CHANNEL=stack

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_PRETEND=false
