.brand {
  &-img-shadow {
    filter: drop-shadow(-2px 3px 0 rgba(255,255,255,0.2)) invert(1);
  }

  &-title {
    @extend .display-1;
    font-family: $font-family-primary;
    margin-bottom: 0;

    &-shadow {
      text-shadow: -2px 3px 0 rgba(0,0,0,0.2);
    }
  }
}
