html {
  font-size: $font-size-base;
  font-size: 16px;
  min-height: 100%;
  direction: ltr;
}

body {
  overflow: auto;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  min-height: 100%;
  position: relative;

  @media print {
    background: none;
  }
}

body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: .3s background;
}

body *::-webkit-scrollbar-thumb {
  background: $gray-400;
}
body *:hover::-webkit-scrollbar-thumb {
  background: $gray-500;
}

body.fancy {
  #app {
    @extends .bg-primary;
    transition: all 0.3s cubic-bezier(0.45, 0, 0.32, 1);
  }

  .workspace {
    transition: all 0.3s cubic-bezier(0.45, 0, 0.32, 1);
    background-color: $body-bg;
  }

  &.active {
    .workspace {
      overflow-x: hidden;
      margin: 4rem 2rem;
      border: 1px solid rgba(0,0,0,0.05);
      border-radius: 5px;
      box-shadow: 0 -5px 20px rgba(0,0,0,0.05);
    }
  }
}

noscript {
  background-color: $primary;
  color: $white;
  margin: 0;
  padding: 2rem;
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  text-align: center;
}

[role="button"] {
  cursor: pointer;
}

[disabled], .disabled {
  pointer-events: none;
}

[contenteditable]:not(div) {
  border-bottom: 1px dashed $primary;

  &:hover {
    cursor: pointer;
  }
}

:target:before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}
